<% include partials/header %>


<p><%= campground.name%></p>

<img src="<%= campground.image%>"/>

<p><%= campground.description%></p>

<a href="/campgrounds">Go Back</a>


<% include partials/footer %>
